@import "../../assets/styles/config.scss";

.menu {
    background-color: $menu-background;
    color: $menu-text;
    max-height: $menu-height;
    min-height: $menu-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu * a {
    color: $menu-text;
}