@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@600&family=Nunito:wght@400;600&family=Poppins:wght@100;200&display=swap');

body {
    background-color:#D2DEEF;
    
}

.app {
    font-family: 'Nunito', sans-serif;
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app > * {
    flex: 1 1 auto;
}

/* .app > h1 {
    color: #204B7C;
    font-family: 'Gantari', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
}

*/