@import "../../assets/styles/config.scss";

.item {
  display: flex;  
  border-bottom: 1px solid $item-border;
  color: $item-text;
  background-color: #FFF;
}

.item_data {
    flex:auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: $item-padding;
}

.item_kilometres, .item_minutes, .item_hours {
  text-align: right;
}

.item_type, .item_date {
    font-weight: bold;
    color: $item-text-strong;
}

.item_edit {
  max-width: $item-edit-width;
  min-width: $item-edit-width;
  background-color: $item-edit-background;
  color: $item-edit-text;
  display: none;
  justify-content: center;
  align-items: center;
}

.item._edit a {
  color: $item-edit-text;

}

.item:hover .item_edit {
  display: flex;


}
