@import "../../assets/styles/config.scss";

.additem {
    padding: $container-padding;
}

.p_note {
    color: $additem-p-text-color;
    background-color: $additem-p-background-color;
    font-weight: bold;
    text-align: center;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.5rem;
    font-size: 1.1em;
}