$header-background: #bababa;
$header-text: #204B7C;
$header-height: 4rem;
$header-font-size: 2.5rem;

$frontpage_img_height: 100%;
$frontpage_img_width: 100%; 
$frontpage_img_border: 1px solid #000000;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #8f8f8f;
$item-text: #999999;
$item-text-strong: #000000;
$item-padding: 1rem;
$item-edit-background: #dddddd;
$item-edit-text: #666666;
$item-edit-width: 2rem;

$menu-background: #204B7C;
$menu-text: #ffffff;
$menu-height: 4rem;